CurrentLevel
{
	zorder 500
	// Stats block
	container BorderPanel(CurrentLevel/Panel)
	{

		element TextArea(CurrentLevel/Level)
		{
			metrics_mode pixels
			left 5
			top 5
			width 490
			height 50
			font_name BlueHighway
			char_height 25
			caption The Current Level is: 
			colour_top 0.7 0.7 0.7
			colour_bottom 0.3 0.5 0.3
		}
	}
}
